:root {
  --font-color-1: #757575;
  --font-color-2: #212121;
  --bg-color-1: #f5f4fa;
  --bg-color-2: #2f303a;
  --bg-color-3: #e5e5e5;
  --selection-color: #2196f3;
  --white: #ffffff;
  --white-almost: #f5f4fa;
  --black: #000000;
  --border: #ececec;
  --social-icon: #afb1b8;
}

body {
  color: var(--font-color-1);
  background: var(--white);
  font-family: 'Roboto', 'Raleway', sans-serif;
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}

/************************ HEADER *****************************/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
  padding: 24px 0px 25px;
  margin: 0px 227px 0px 215px;
  border-bottom: 1px solid var(--border);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  color: var(--selection-color);
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--black {
  color: var(--black);
}

.nav {
  display: flex;
  list-style: none;
  gap: 46px;
  margin: 0;
  padding-left: 0;
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  color: var(--font-color-2);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item:hover,
.nav__item:focus {
  color: var(--selection-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item--current {
  position: relative;
  color: var(--selection-color);
}

.nav__item--current::after {
  position: absolute;
  display: block;
  top: 45px;
  bottom: 0;
  content: '';
  width: 53px;
  height: 4px;
  background: var(--selection-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0 0 0 252px;
  margin: 0;
}

.contact__item {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  color: var(--font-color-1);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--font-color-1);
  align-items: center;
  gap: 10px;
}

.contact__item:hover,
.contact__item:focus {
  color: var(--selection-color);
  fill: var(--selection-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/************************ HEADING *****************************/

.heading {
  background-color: var(--bg-color-2);
  width: 100%;
  text-align: center;
  padding: 200px 0 200px;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url('../images/header.jpg');
}

.heading__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 30px;
  margin: 0;
}

.heading__button {
  background-color: var(--selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
}

.heading__button:hover {
  background-color: var(--bg-color-1);
  color: var(--font-color-2);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/************************ DESCRIPTION *****************************/

.description__icon {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  width: 270px;
  height: 120px;
  background-color: var(--white-almost);
}

.description__list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0 0 94px;
  margin: 0 15px;
  justify-content: center;
}

.description__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--font-color-2);
  text-transform: uppercase;
  margin: 30px 0 0;
}

.description__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color-1);
  margin: 0;
  padding: 10px 0 0;
}

/************************ WHAT WE DO ***********************/

.section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-2);
  margin: 0;
}

.our-job__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 50px 0 0;
  gap: 30px;
  justify-content: center;
}

.our-job__item {
  position: relative;
}

.our-job__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 27px;
  margin: 0;
}

/************************ OUR-TEAM *****************************/

.our-team__bg {
  background: var(--bg-color-1);
}

.our-team {
  display: flex;
  list-style-type: none;
  padding: 50px 0 0 0;
  gap: 30px;
  justify-content: center;
  margin: 0;
}

.our-team__item {
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--font-color-2);
  margin: 0;
  padding: 30px 0 10px;
  text-align: center;
}

.our-team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--font-color-1);
  padding: 0 0 30px 0;
  margin: 0;
  text-align: center;
}

.our-team__icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.our-team__icon {
  width: 44px;
  height: 44px;
  /* background-color: var(--white); */
  border-radius: 50%;
  fill: var(--social-icon);
}

.our-team__icon:hover,
.our-team__icon:focus {
  fill: var(--white-almost);
  background-color: var(--selection-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*********************** OUR CUSTOMERS ***********************/

.our-customers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.our-customers__icon {
  width: 170px;
  height: 92px;
  align-items: center;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  fill: var(--social-icon);
}

.our-customers__icon:hover,
.our-customers__icon:focus {
  fill: var(--selection-color);
  border: 1px solid var(--selection-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/************************ FOOTER *****************************/

.footer {
  background-color: var(--bg-color-2);
  width: 100%;
  padding: 60px 0;
}

.flex-footer {
  display: flex;
  gap: 70px;
}

.logo--white {
  color: var(--white);
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
  padding: 20px 0 9px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__item:hover,
.footer__item:focus {
  color: var(--selection-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.footer__icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer__icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white);
}

.social-footer:hover,
.social-footer:focus {
  fill: var(--white);
  background-color: var(--selection-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter {
  display: flex;
  gap: 12px;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  padding-left: 16px;
}

.newsletter__button {
  background-color: var(--selection-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.newsletter__button:hover,
.newsletter__button:focus {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__icon {
  fill: var(--white);
  width: 24px;
  height: 24px;
}

/************************ PORTFOLIO *****************************/

.gallery-search {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding-bottom: 34px;
  gap: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  gap: 30px;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-2);
  background-color: var(--white-almost);
  border-radius: 4px;
  width: 121px;
  height: 38px;
  border-style: none;
}

.button-portfolio:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: var(--selection-color);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-card {
  background: var(--white);
  border: 1px solid #eeeeee;
}

.gallery-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-color-2);
  margin: 0;
  padding: 20px 24px 4px;
}

.portfolio-filter-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--font-color-1);
  margin: 0;
  padding: 0 24px 20px;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 49px 45px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
}

.gallery-card:hover .overlay {
  transform: translateY(0);
}

/*********** MODAL ****************/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  opacity: 1;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  background-color: var(--white);
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-2);
  margin: 0 0 12px 0;
}

/* MODAL FORM */

.field-form {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.label-modal {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--font-color-1);
  position: relative;
  margin: 0;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  padding: 0;
  padding-left: 42px;
}

.form-input:focus {
  border-color: var(--selection-color);
  outline: none;
}

.form-input:focus + .form-icon {
  fill: var(--selection-color);
}

.form-icon {
  fill: var(--font-color-2);
  position: absolute;
  top: 33px;
  left: 12px;
}

.form-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
  padding: 16px 12px;
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-top: 4px;
}

.form-textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
  border-color: var(--selection-color);
  outline: none;
}

/*ACCEPT*/

.checkbox-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0;
}

.checkbox-input {
  appearance: none;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color-1);
  font-weight: 400;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
}

.checkbox-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--font-color-2);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox-input:checked + .checkbox-label::before {
  border: none;
  border-radius: 2px;
  background-color: var(--selection-color);
  background-image: url('../images/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-label a {
  color: var(--selection-color);
}

.submit-button {
  background-color: var(--selection-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
  padding: 0;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
