.footer {
  background-color: getColor('bg-color-2');
  padding: 60px 0;

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  &__address {
    font-size: getFs('small-14');
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor('white');
    font-style: normal;
    margin-top: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 8px 0 0;
  }
  &__item {
    font-size: getFs('small-14');
    color: getColor('white-0.6');
    letter-spacing: 0.03em;
    text-decoration: none;

    &:hover,
    &:focus {
      color: getColor('selection-color');
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__title {
    color: getColor('white');
    font-weight: getFw('bold-700');
    font-size: getFs('small-14');
    line-height: 1.143;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin: 0;
  }

  &__icons {
    display: flex;
    margin: 20px 0 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.newsletter {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__sign {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__input {
    height: 50px;
    font-size: getFs('normal-16');
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: getColor('white-0.6');
    border: 1px solid getColor('white-0.3');
    background-color: inherit;
    border-radius: 4px;
    padding: 0 0 0 16px;
    min-width: 90vw;
  }

  &__icon {
    fill: getColor('white');
    width: 24px;
    height: 24px;
  }
}

/*************** TABLET *************/

@media screen and (min-width: 768px) {
  .footer__box {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .newsletter__input {
    min-width: 450px;
  }
}

/*************** DESKTOP *************/

@media screen and (min-width: 1200px) {
  .footer__box {
    text-align: left;
  }
  .footer__list {
    align-items: flex-start;
  }
  .newsletter {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .newsletter__input {
    min-width: 358px;
  }

  .newsletter__sign {
    flex-direction: row;
    gap: 12px;
  }
}
