.logo {
  font-family: getFf('Raleway');
  font-weight: getFw('bold-700');
  font-size: getFs('big-24');
  color: getColor('selection-color');
  text-decoration: none;
  line-height: 1.167;
  letter-spacing: 0.03em;

  &--black {
    color: getColor('black');
  }
  &--white {
    color: getColor('white');
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: getFs('big-26');
  }
}
