$colors: (
  'font-color-1': #757575,
  'font-color-2': #212121,
  'bg-color-1': #f5f4fa,
  'bg-color-2': #2f303a,
  'bg-color-3': #e5e5e5,
  'selection-color': #2196f3,
  'white': #ffffff,
  'white-almost': #f5f4fa,
  'black': #000000,
  'border': #ececec,
  'social-icon': #afb1b8,
  'gallery': #eeeeee,
  'white-0.6': rgba(255, 255, 255, 0.6),
  'white-0.1': rgba(255, 255, 255, 0.1),
  'white-0.15': rgba(255, 255, 255, 0.15),
  'white-0.3': rgba(255, 255, 255, 0.3),
  'black-0.16': rgba(0, 0, 0, 0.16),
  'black-0.15': rgba(0, 0, 0, 0.15),
  'black-0.12': rgba(0, 0, 0, 0.12),
  'black-0.14': rgba(0, 0, 0, 0.14),
  'black-0.2': rgba(0, 0, 0, 0.2),
  'black-0.1': rgba(0, 0, 0, 0.1),
  'black-0.06': rgba(0, 0, 0, 0.06),
  'transparent-img': rgba(47, 48, 58, 0.4),
  'transparent-job': rgba(47, 48, 58, 0.8),
  'transparent-black': rgba(33, 33, 33, 0.2),
  'transparent-form': rgba(117, 117, 117, 0.5),
  'transparent-gallery': rgba(33, 150, 243, 0.9),
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$font-family: (
  'Raleway': Raleway,
  'Roboto': Roboto,
);

@function getFf($key) {
  @return map-get($font-family, $key);
}

$font-weight: (
  'normal-500': 500,
  'bold-700': 700,
  'bold-900': 900,
);

@function getFw($key) {
  @return map-get($font-weight, $key);
}

$font-size: (
  'small-12': 12px,
  'small-14': 14px,
  'normal-16': 16px,
  'normal-18': 18px,
  'normal-20': 20px,
  'big-26': 26px,
  'big-36': 36px,
  'big-44': 44px,
);

@function getFs($key) {
  @return map-get($font-size, $key);
}

%transition {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
